In [3]:
import pandas as pd

file_path = 'parquetFiles/arboretumURLs.parquet' 

data = pd.read_parquet(file_path)
test = data[0:10000000]
test
taxaDf = pd.read_csv("taxa.csv", delimiter="\t")

In [12]:
taxaDf[taxaDf['active']==True]

,taxon_id,ancestry,rank_level,rank,name,active
0,16702,48460/1/2/355675/3/7251/980017/16679,10.0,species,Elaenia martinica,True
1,10865,48460/1/2/355675/3/7251/10732/559713/10833,10.0,species,Xiphocolaptes major,True
3,12127,48460/1/2/355675/3/7251/12061/12126,10.0,species,Sipodotus wallacii,True
4,13225,48460/1/2/355675/3/7251/12704/13224,10.0,species,Sheppardia cyornithopsis,True
5,15089,48460/1/2/355675/3/7251/144310/15081,10.0,species,Illadopsis cleaveri,True
...,...,...,...,...,...,...
1511007,1536807,48460/1/47120/372739/47158/184884/47157/47224/...,5.0,subspecies,Heliconius erato amphitrite,True
1511008,1531707,48460/47170/48250/372740/53539/372775/792606,20.0,genus,Batistia,True
1511009,1531252,48460/1/47120/372739/47158/184884/47822/48091/...,25.0,tribe,Scathophagini,True
1511010,1530231,48460/47126/211194/47125/47124/47195/52469/83157,13.0,section,Macrophyllae,True
1511011,1532066,48460/1/47120/372739/47158/184884/47208/71130/...,27.0,subfamily,Sericinae,True

In [11]:
taxonomy_dict = taxaDf.set_index('taxon_id').T.to_dict()
taxonomy_dict['16702']

{16702: {'ancestry': '48460/1/2/355675/3/7251/980017/16679',
  'rank_level': 10.0,
  'rank': 'species',
  'name': 'Elaenia martinica',
  'active': True},
 10865: {'ancestry': '48460/1/2/355675/3/7251/10732/559713/10833',
  'rank_level': 10.0,
  'rank': 'species',
  'name': 'Xiphocolaptes major',
  'active': True},
 19383: {'ancestry': '48460/1/2/355675/3/67573/19376/19377',
  'rank_level': 10.0,
  'rank': 'species',
  'name': 'Caprimulgus vociferus',
  'active': False},
 12127: {'ancestry': '48460/1/2/355675/3/7251/12061/12126',
  'rank_level': 10.0,
  'rank': 'species',
  'name': 'Sipodotus wallacii',
  'active': True},
 13225: {'ancestry': '48460/1/2/355675/3/7251/12704/13224',
  'rank_level': 10.0,
  'rank': 'species',
  'name': 'Sheppardia cyornithopsis',
  'active': True},
 15089: {'ancestry': '48460/1/2/355675/3/7251/144310/15081',
  'rank_level': 10.0,
  'rank': 'species',
  'name': 'Illadopsis cleaveri',
  'active': True},
 11649: {'ancestry': '48460/1/2/355675/3/7251/10732/559711/11633',
  'rank_level': 10.0,
  'rank': 'species',
  'name': 'Sclerurus guatemalensis',
  'active': True},
 13415: {'ancestry': '48460/1/2/355675/3/7251/13273/13414',
  'rank_level': 10.0,
  'rank': 'species',
  'name': 'Aethopyga eximia',
  'active': True},
 13115: {'ancestry': '48460/1/2/355675/3/7251/12704/13105',
  'rank_level': 10.0,
  'rank': 'species',
  'name': 'Ficedula basilanica',
  'active': True},
 16545: {'ancestry': '48460/1/2/355675/3/7251/980017/16544',
  'rank_level': 10.0,
  'rank': 'species',
  'name': 'Tolmomyias traylori',
  'active': True},
 10380: {'ancestry': '48460/1/2/355675/3/7251/71369/10377',
  'rank_level': 10.0,
  'rank': 'species',
  'name': 'Buthraupis aureodorsalis',
  'active': False},
 19425: {'ancestry': '48460/1/2/355675/3/67573/19376/19377',
  'rank_level': 10.0,
  'rank': 'species',
  'name': 'Caprimulgus rufus',
  'active': False},
 13238: {'ancestry': '48460/1/2/355675/3/7251/12704',
  'rank_level': 20.0,
  'rank': 'genus',
  'name': 'Muscicapella',
  'active': False},
 18123: {'ancestry': '48460/1/2/355675/3/17550/17599/92514',
  'rank_level': 10.0,
  'rank': 'species',
  'name': 'Thripias namaquus',
  'active': False},
 11703: {'ancestry': '48460/1/2/355675/3/7251/10732/11702',
  'rank_level': 10.0,
  'rank': 'species',
  'name': 'Hyloctistes subulatus',
  'active': False},
 15094: {'ancestry': '48460/1/2/355675/3/7251/144310/15508',
  'rank_level': 10.0,
  'rank': 'species',
  'name': 'Trichastoma pyrrogenys',
  'active': False},
 13640: {'ancestry': '48460/1/2/355675/3/7251/13547/13548',
  'rank_level': 10.0,
  'rank': 'species',
  'name': 'Parus lugubris',
  'active': False},
 13131: {'ancestry': '48460/1/2/355675/3/7251/12704/13105',
  'rank_level': 10.0,
  'rank': 'species',
  'name': 'Ficedula hodgsonii',
  'active': False},
 10026: {'ancestry': '48460/1/2/355675/3/7251/71349/10022',
  'rank_level': 10.0,
  'rank': 'species',
  'name': 'Basileuterus flaveolus',
  'active': False},
 14294: {'ancestry': '48460/1/2/355675/3/7251/14221/14257',
  'rank_level': 10.0,
  'rank': 'species',
  'name': 'Pipra chloromeros',
  'active': False},
 14509: {'ancestry': '48460/1/2/355675/3/7251/14495/14508',
  'rank_level': 10.0,
  'rank': 'species',
  'name': 'Ailuroedus buccoides',
  'active': False},
 10029: {'ancestry': '48460/1/2/355675/3/7251/71349/10022',
  'rank_level': 10.0,
  'rank': 'species',
  'name': 'Basileuterus cinereicollis',
  'active': False},
 10031: {'ancestry': '48460/1/2/355675/3/7251/71349/10022',
  'rank_level': 10.0,
  'rank': 'species',
  'name': 'Basileuterus coronatus',
  'active': False},
 10036: {'ancestry': '48460/1/2/355675/3/7251/71349/10022',
  'rank_level': 10.0,
  'rank': 'species',
  'name': 'Basileuterus nigrocristatus',
  'active': False},
 15603: {'ancestry': '48460/1/2/355675/3/7251/71371',
  'rank_level': 20.0,
  'rank': 'genus',
  'name': 'Xiphirhynchus',
  'active': False},
 14595: {'ancestry': '48460/1/2/355675/3/7251/14556/14587',
  'rank_level': 10.0,
  'rank': 'species',
  'name': 'Pycnonotus plumosus',
  'active': False},
 15896: {'ancestry': '48460/1/2/355675/3/7251/15726/15895',
  'rank_level': 10.0,
  'rank': 'species',
  'name': 'Frederickena unduligera',
  'active': False},
 15079: {'ancestry': '48460/1/2/355675/3/7251/980192/15051',
  'rank_level': 10.0,
  'rank': 'species',
  'name': 'Turdoides reinwardii',
  'active': False},
 15121: {'ancestry': '48460/1/2/355675/3/7251/200985/15107',
  'rank_level': 10.0,
  'rank': 'species',
  'name': 'Alcippe ruficapilla',
  'active': False},
 17626: {'ancestry': '48460/1/2/355675/3/17550/17599/17600',
  'rank_level': 10.0,
  'rank': 'species',
  'name': 'Campethera bennettii',
  'active': False},
 15176: {'ancestry': '48460/1/2/355675/3/7251/980192/15151',
  'rank_level': 10.0,
  'rank': 'species',
  'name': 'Garrulax squamatus',
  'active': False},
 15194: {'ancestry': '48460/1/2/355675/3/7251/980192/15151',
  'rank_level': 10.0,
  'rank': 'species',
  'name': 'Garrulax galbanus',
  'active': False},
 11238: {'ancestry': '48460/1/2/355675/3/7251/10732/559715/11217',
  'rank_level': 10.0,
  'rank': 'species',
  'name': 'Cranioleuca vulpina',
  'active': False},
 17429: {'ancestry': '48460/1/2/355675/3/7251/17354/17422',
  'rank_level': 10.0,
  'rank': 'species',
  'name': 'Hylophilus decurtatus',
  'active': False},
 17430: {'ancestry': '48460/1/2/355675/3/7251/17354/17422',
  'rank_level': 10.0,
  'rank': 'species',
  'name': 'Hylophilus muscicapinus',
  'active': False},
 17435: {'ancestry': '48460/1/2/355675/3/7251/17354/17422',
  'rank_level': 10.0,
  'rank': 'species',
  'name': 'Hylophilus aurantiifrons',
  'active': False},
 16442: {'ancestry': '48460/1/2/355675/3/7251/980017/16423',
  'rank_level': 10.0,
  'rank': 'species',
  'name': 'Anairetes agraphia',
  'active': False},
 13239: {'ancestry': '48460/1/2/355675/3/7251/12704/13238',
  'rank_level': 10.0,
  'rank': 'species',
  'name': 'Muscicapella hodgsoni',
  'active': False},
 10462: {'ancestry': '48460/1/2/355675/3/7251/9079/10457',
  'rank_level': 10.0,
  'rank': 'species',
  'name': 'Chlorophonia pyrrhophrys',
  'active': True},
 15166: {'ancestry': '48460/1/2/355675/3/7251/980192/15151',
  'rank_level': 10.0,
  'rank': 'species',
  'name': 'Garrulax subunicolor',
  'active': False},
 10043: {'ancestry': '48460/1/2/355675/3/7251/71349/10022',
  'rank_level': 10.0,
  'rank': 'species',
  'name': 'Basileuterus bivittatus',
  'active': False},
 13041: {'ancestry': '48460/1/2/355675/3/7251/15977/13017',
  'rank_level': 10.0,
  'rank': 'species',
  'name': 'Zoothera schistacea',
  'active': False},
 13043: {'ancestry': '48460/1/2/355675/3/7251/15977/13017',
  'rank_level': 10.0,
  'rank': 'species',
  'name': 'Zoothera princei',
  'active': False},
 13040: {'ancestry': '48460/1/2/355675/3/7251/15977/13017',
  'rank_level': 10.0,
  'rank': 'species',
  'name': 'Zoothera gurneyi',
  'active': False},
 13031: {'ancestry': '48460/1/2/355675/3/7251/15977/13017',
  'rank_level': 10.0,
  'rank': 'species',
  'name': 'Zoothera spiloptera',
  'active': False},
 14693: {'ancestry': '48460/1/2/355675/3/7251/14556/14692',
  'rank_level': 10.0,
  'rank': 'species',
  'name': 'Andropadus tephrolaemus',
  'active': False},
 13661: {'ancestry': '48460/1/2/355675/3/7251/13547/13548',
  'rank_level': 10.0,
  'rank': 'species',
  'name': 'Parus cyanus',
  'active': False},
 13752: {'ancestry': '48460/1/2/355675/3/7251/71339/13706',
  'rank_level': 10.0,
  'rank': 'species',
  'name': 'Anthus longicaudatus',
  'active': False},
 15454: {'ancestry': '48460/1/2/355675/3/7251/7649/15453',
  'rank_level': 10.0,
  'rank': 'species',
  'name': 'Eremomela icteropygialis',
  'active': False},
 19176: {'ancestry': '48460/1/2/355675/3/18874/18875/19170',
  'rank_level': 10.0,
  'rank': 'species',
  'name': 'Aratinga mitrata',
  'active': False},
 13427: {'ancestry': '48460/1/2/355675/3/7251/13273/13414',
  'rank_level': 10.0,
  'rank': 'species',
  'name': 'Aethopyga siparaja',
  'active': False},
 19658: {'ancestry': '48460/1/2/355675/3/67573/19376/19657',
  'rank_level': 10.0,
  'rank': 'species',
  'name': 'Macrodipteryx vexillarius',
  'active': False},
 13493: {'ancestry': '48460/1/2/355675/3/7251/71292/13485',
  'rank_level': 10.0,
  'rank': 'species',
  'name': 'Gerygone magnirostris',
  'active': False},
 14699: {'ancestry': '48460/1/2/355675/3/7251/14556/14692',
  'rank_level': 10.0,
  'rank': 'species',
  'name': 'Andropadus nigriceps',
  'active': False},
 14703: {'ancestry': '48460/1/2/355675/3/7251/14556/14692',
  'rank_level': 10.0,
  'rank': 'species',
  'name': 'Andropadus ansorgei',
  'active': False},
 10046: {'ancestry': '48460/1/2/355675/3/7251/71349/10022',
  'rank_level': 10.0,
  'rank': 'species',
  'name': 'Basileuterus leucoblepharus',
  'active': False},
 17525: {'ancestry': '48460/1/2/355675/3/7251/17438/17523',
  'rank_level': 10.0,
  'rank': 'species',
  'name': 'Speirops leucophoeus',
  'active': False},
 12011: {'ancestry': '48460/1/2/355675/3/7251/71310/12003',
  'rank_level': 10.0,
  'rank': 'species',
  'name': 'Chloropsis cochinchinensis',
  'active': True},
 14057: {'ancestry': '48460/1/2/355675/3/7251/71322/14050',
  'rank_level': 10.0,
  'rank': 'species',
  'name': 'Lagonosticta rhodopareia',
  'active': False},
 13431: {'ancestry': '48460/1/2/355675/3/7251/13273/13430',
  'rank_level': 10.0,
  'rank': 'species',
  'name': 'Arachnothera longirostra',
  'active': False},
 17461: {'ancestry': '48460/1/2/355675/3/7251/17438/17439',
  'rank_level': 10.0,
  'rank': 'species',
  'name': 'Zosterops cinereus',
  'active': False},
 17527: {'ancestry': '48460/1/2/355675/3/7251/17438/17523',
  'rank_level': 10.0,
  'rank': 'species',
  'name': 'Speirops brunneus',
  'active': False},
 13130: {'ancestry': '48460/1/2/355675/3/7251/12704/13105',
  'rank_level': 10.0,
  'rank': 'species',
  'name': 'Ficedula crypta',
  'active': True},
 19489: {'ancestry': '48460/1/2/355675/3/67573/19376/19377',
  'rank_level': 10.0,
  'rank': 'species',
  'name': 'Caprimulgus salvini',
  'active': False},
 15519: {'ancestry': '48460/1/2/355675/3/7251/71371/15513',
  'rank_level': 10.0,
  'rank': 'species',
  'name': 'Stachyris ruficeps',
  'active': False},
 15113: {'ancestry': '48460/1/2/355675/3/7251/200985/15107',
  'rank_level': 10.0,
  'rank': 'species',
  'name': 'Alcippe castaneceps',
  'active': False},
 14782: {'ancestry': '48460/1/2/355675/3/7251/14732',
  'rank_level': 20.0,
  'rank': 'genus',
  'name': 'Myornis',
  'active': True},
 17392: {'ancestry': '48460/1/2/355675/3/7251/17354/17355',
  'rank_level': 10.0,
  'rank': 'species',
  'name': 'Vireo gracilirostris',
  'active': True},
 17511: {'ancestry': '48460/1/2/355675/3/7251/17438/17439',
  'rank_level': 10.0,
  'rank': 'species',
  'name': 'Zosterops chloronothus',
  'active': False},
 14100: {'ancestry': '48460/1/2/355675/3/7251/71339/14097',
  'rank_level': 10.0,
  'rank': 'species',
  'name': 'Macronyx grimwoodi',
  'active': True},
 14078: {'ancestry': '48460/1/2/355675/3/7251/13685/14074',
  'rank_level': 10.0,
  'rank': 'species',
  'name': 'Petronia pyrgita',
  'active': False},
 13064: {'ancestry': '48460/1/2/355675/3/7251/12704/88250',
  'rank_level': 10.0,
  'rank': 'species',
  'name': 'Erythropygia leucophrys',
  'active': False},
 14971: {'ancestry': '48460/1/2/355675/3/7251/14841/14968',
  'rank_level': 10.0,
  'rank': 'species',
  'name': 'Onychognathus morio',
  'active': False},
 10630: {'ancestry': '48460/1/2/355675/3/7251/71369',
  'rank_level': 20.0,
  'rank': 'genus',
  'name': 'Delothraupis',
  'active': False},
 12186: {'ancestry': '48460/1/2/355675/3/7251/12160/12161',
  'rank_level': 10.0,
  'rank': 'species',
  'name': 'Lichenostomus flavescens',
  'active': False},
 12176: {'ancestry': '48460/1/2/355675/3/7251/12160/12161',
  'rank_level': 10.0,
  'rank': 'species',
  'name': 'Lichenostomus fuscus',
  'active': False},
 13022: {'ancestry': '48460/1/2/355675/3/7251/15977/13017',
  'rank_level': 10.0,
  'rank': 'species',
  'name': 'Zoothera guttata',
  'active': False},
 13045: {'ancestry': '48460/1/2/355675/3/7251/15977/13017',
  'rank_level': 10.0,
  'rank': 'species',
  'name': 'Zoothera tanganjicae',
  'active': False},
 15541: {'ancestry': '48460/1/2/355675/3/7251/71371/15513',
  'rank_level': 10.0,
  'rank': 'species',
  'name': 'Stachyris erythroptera',
  'active': False},
 13659: {'ancestry': '48460/1/2/355675/3/7251/200984',
  'rank_level': 20.0,
  'rank': 'genus',
  'name': 'Eremiornis',
  'active': False},
 12212: {'ancestry': '48460/1/2/355675/3/7251/12160/12161',
  'rank_level': 10.0,
  'rank': 'species',
  'name': 'Lichenostomus obscurus',
  'active': False},
 17498: {'ancestry': '48460/1/2/355675/3/7251/17438/17439',
  'rank_level': 10.0,
  'rank': 'species',
  'name': 'Zosterops anomalus',
  'active': True},
 15804: {'ancestry': '48460/1/2/355675/3/7251/15726/15788',
  'rank_level': 10.0,
  'rank': 'species',
  'name': 'Myrmeciza hyperythra',
  'active': False},
 10132: {'ancestry': '48460/1/2/355675/3/7251/559248/10131',
  'rank_level': 10.0,
  'rank': 'species',
  'name': 'Ammodramus bairdii',
  'active': False},
 10135: {'ancestry': '48460/1/2/355675/3/7251/559248/10131',
  'rank_level': 10.0,
  'rank': 'species',
  'name': 'Ammodramus henslowii',
  'active': False},
 10133: {'ancestry': '48460/1/2/355675/3/7251/559248/10131',
  'rank_level': 10.0,
  'rank': 'species',
  'name': 'Ammodramus leconteii',
  'active': False},
 10138: {'ancestry': '48460/1/2/355675/3/7251/559248/10131',
  'rank_level': 10.0,
  'rank': 'species',
  'name': 'Ammodramus nelsoni',
  'active': False},
 10398: {'ancestry': '48460/1/2/355675/3/7251/71369/10388',
  'rank_level': 10.0,
  'rank': 'species',
  'name': 'Hemispingus parodii',
  'active': False},
 10531: {'ancestry': '48460/1/2/355675/3/7251/71369',
  'rank_level': 20.0,
  'rank': 'genus',
  'name': 'Urothraupis',
  'active': True},
 12965: {'ancestry': '48460/1/2/355675/3/7251/12704/12964',
  'rank_level': 10.0,
  'rank': 'species',
  'name': 'Muscicapa ruficauda',
  'active': False},
 15179: {'ancestry': '48460/1/2/355675/3/7251/980192/15151',
  'rank_level': 10.0,
  'rank': 'species',
  'name': 'Garrulax sukatschewi',
  'active': False},
 15185: {'ancestry': '48460/1/2/355675/3/7251/980192/15151',
  'rank_level': 10.0,
  'rank': 'species',
  'name': 'Garrulax henrici',
  'active': False},
 13221: {'ancestry': '48460/1/2/355675/3/7251/15977/13220',
  'rank_level': 10.0,
  'rank': 'species',
  'name': 'Geomalia heinrichi',
  'active': False},
 12870: {'ancestry': '48460/1/2/355675/3/7251/12704/12867',
  'rank_level': 10.0,
  'rank': 'species',
  'name': 'Myrmecocichla arnoti',
  'active': False},
 13222: {'ancestry': '48460/1/2/355675/3/7251/15977',
  'rank_level': 20.0,
  'rank': 'genus',
  'name': 'Cataponera',
  'active': True},
 10091: {'ancestry': '48460/1/2/355675/3/7251/71369/10081',
  'rank_level': 10.0,
  'rank': 'species',
  'name': 'Phrygilus carbonarius',
  'active': False},
 10084: {'ancestry': '48460/1/2/355675/3/7251/71369/10081',
  'rank_level': 10.0,
  'rank': 'species',
  'name': 'Phrygilus alaudinus',
  'active': False},
 13214: {'ancestry': '48460/1/2/355675/3/7251/12704/13208',
  'rank_level': 10.0,
  'rank': 'species',
  'name': 'Cercomela sinuata',
  'active': False},
 17508: {'ancestry': '48460/1/2/355675/3/7251/17438/17439',
  'rank_level': 10.0,
  'rank': 'species',
  'name': 'Zosterops everetti',
  'active': False},
 17452: {'ancestry': '48460/1/2/355675/3/7251/17438/17439',
  'rank_level': 10.0,
  'rank': 'species',
  'name': 'Zosterops abyssinicus',
  'active': False},
 15520: {'ancestry': '48460/1/2/355675/3/7251/71371/15513',
  'rank_level': 10.0,
  'rank': 'species',
  'name': 'Stachyris rufifrons',
  'active': False},
 13903: {'ancestry': '48460/1/2/355675/3/7251/71322/13881',
  'rank_level': 10.0,
  'rank': 'species',
  'name': 'Lonchura monticola',
  'active': True},
 13904: {'ancestry': '48460/1/2/355675/3/7251/71322/13881',
  'rank_level': 10.0,
  'rank': 'species',
  'name': 'Lonchura nigerrima',
  'active': True},
 14667: {'ancestry': '48460/1/2/355675/3/7251/14556/14661',
  'rank_level': 10.0,
  'rank': 'species',
  'name': 'Ixos everetti',
  'active': False},
 18810: {'ancestry': '48460/1/2/355675/3/17550/18485/18792',
  'rank_level': 10.0,
  'rank': 'species',
  'name': 'Ramphastos swainsonii',
  'active': False},
 17428: {'ancestry': '48460/1/2/355675/3/7251/17354/17422',
  'rank_level': 10.0,
  'rank': 'species',
  'name': 'Hylophilus semibrunneus',
  'active': False},
 12215: {'ancestry': '48460/1/2/355675/3/7251/12160/12161',
  'rank_level': 10.0,
  'rank': 'species',
  'name': 'Lichenostomus hindwoodi',
  'active': False},
 13189: {'ancestry': '48460/1/2/355675/3/7251/12704',
  'rank_level': 20.0,
  'rank': 'genus',
  'name': 'Rhyacornis',
  'active': False},
 15126: {'ancestry': '48460/1/2/355675/3/7251/71371',
  'rank_level': 20.0,
  'rank': 'genus',
  'name': 'Macronous',
  'active': False},
 15276: {'ancestry': '48460/1/2/355675/3/7251/71371/15269',
  'rank_level': 10.0,
  'rank': 'species',
  'name': 'Pomatorhinus erythrogenys',
  'active': False},
 12505: {'ancestry': '48460/1/2/355675/3/7251/12160/12496',
  'rank_level': 10.0,
  'rank': 'species',
  'name': 'Xanthotis provocator',
  'active': False},
 13151: {'ancestry': '48460/1/2/355675/3/7251/12704/13150',
  'rank_level': 10.0,
  'rank': 'species',
  'name': 'Chaimarrornis leucocephalus',
  'active': False},
 15534: {'ancestry': '48460/1/2/355675/3/7251/71371/15513',
  'rank_level': 10.0,
  'rank': 'species',
  'name': 'Stachyris pyrrhops',
  'active': False},
 15455: {'ancestry': '48460/1/2/355675/3/7251/7649/15453',
  'rank_level': 10.0,
  'rank': 'species',
  'name': 'Eremomela pusilla',
  'active': False},
 14122: {'ancestry': '48460/1/2/355675/3/7251/71322',
  'rank_level': 20.0,
  'rank': 'genus',
  'name': 'Oreostruthus',
  'active': True},
 10594: {'ancestry': '48460/1/2/355675/3/7251/559255/10593',
  'rank_level': 10.0,
  'rank': 'species',
  'name': 'Calyptophilus frugivorus',
  'active': False},
 12114: {'ancestry': '48460/1/2/355675/3/7251/12061/12107',
  'rank_level': 10.0,
  'rank': 'species',
  'name': 'Amytornis textilis',
  'active': False},
 15647: {'ancestry': '48460/1/2/355675/3/7251/144310/15641',
  'rank_level': 10.0,
  'rank': 'species',
  'name': 'Malacopteron affine',
  'active': False},
 12171: {'ancestry': '48460/1/2/355675/3/7251/12160/12161',
  'rank_level': 10.0,
  'rank': 'species',
  'name': 'Lichenostomus versicolor',
  'active': False},
 12968: {'ancestry': '48460/1/2/355675/3/7251/12704/12964',
  'rank_level': 10.0,
  'rank': 'species',
  'name': 'Muscicapa infuscata',
  'active': False},
 14569: {'ancestry': '48460/1/2/355675/3/7251/14556/14561',
  'rank_level': 10.0,
  'rank': 'species',
  'name': 'Phyllastrephus cabanisi',
  'active': True},
 12194: {'ancestry': '48460/1/2/355675/3/7251/12160/12161',
  'rank_level': 10.0,
  'rank': 'species',
  'name': 'Lichenostomus fasciogularis',
  'active': False},
 15301: {'ancestry': '48460/1/2/355675/3/7251/15050/15279',
  'rank_level': 10.0,
  'rank': 'species',
  'name': 'Sylvia rueppelli',
  'active': False},
 12977: {'ancestry': '48460/1/2/355675/3/7251/12704/12964',
  'rank_level': 10.0,
  'rank': 'species',
  'name': 'Muscicapa lendu',
  'active': False},
 10378: {'ancestry': '48460/1/2/355675/3/7251/71369/10377',
  'rank_level': 10.0,
  'rank': 'species',
  'name': 'Buthraupis eximia',
  'active': False},
 13063: {'ancestry': '48460/1/2/355675/3/7251/12704/88250',
  'rank_level': 10.0,
  'rank': 'species',
  'name': 'Erythropygia quadrivirgata',
  'active': False},
 18127: {'ancestry': '48460/1/2/355675/3/17550/17599/89881',
  'rank_level': 10.0,
  'rank': 'species',
  'name': 'Mesopicos elliotii',
  'active': False},
 13058: {'ancestry': '48460/1/2/355675/3/7251/12704/88250',
  'rank_level': 10.0,
  'rank': 'species',
  'name': 'Erythropygia paena',
  'active': False},

In [21]:
taxonomy_dict[16702]['rank']
taxonomy_dict.get(16702)['name']

'Elaenia martinica'

In [38]:
test['taxon_ids'] = test['ancestry'].str.split('/')
test['taxon_ids']

/var/folders/pv/r44bwgrn3sz8b3s7crkjg8800000gn/T/ipykernel_3549/2404294424.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test['taxon_ids'] = test['ancestry'].str.split('/')

0         [48460, 1, 47120, 245097, 47119, 47118, 120474...
1         [48460, 1, 47120, 245097, 47119, 47118, 120474...
2         [48460, 1, 47120, 245097, 47119, 48894, 132356...
3         [48460, 1, 47120, 245097, 47119, 47118, 120474...
4         [48460, 1, 47120, 245097, 47119, 48894, 132356...
                                ...
999995    [48460, 1, 47120, 245097, 47119, 47118, 120474...
999996    [48460, 1, 47120, 245097, 47119, 47118, 120474...
999997    [48460, 1, 47120, 245097, 47119, 47118, 120474...
999998    [48460, 1, 47120, 245097, 47119, 47118, 120474...
999999    [48460, 1, 47120, 245097, 47119, 47118, 120474...
Name: taxon_ids, Length: 1000000, dtype: object

In [22]:
def map_taxon_ids(taxon_ids, lookup_dict):
    result = {'phylum': None, 'class': None, 'order': None, 'family': None, 'genus': None}
    for taxon_id in taxon_ids:
        taxon_info = lookup_dict.get(int(taxon_id))
        if taxon_info:
            rank = taxon_info['rank']
            if rank in result:
                result[rank] = taxon_info['name']
    return result

In [33]:
test[['phylum', 'class', 'order', 'family', 'genus']] = test['taxon_ids'].apply(lambda ids: pd.Series(map_taxon_ids(ids, taxonomy_dict)))
test

/var/folders/pv/r44bwgrn3sz8b3s7crkjg8800000gn/T/ipykernel_3549/1867767300.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test[['phylum', 'class', 'order', 'family', 'genus']] = test['taxon_ids'].apply(lambda ids: pd.Series(map_taxon_ids(ids, taxonomy_dict)))
/var/folders/pv/r44bwgrn3sz8b3s7crkjg8800000gn/T/ipykernel_3549/1867767300.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test[['phylum', 'class', 'order', 'family', 'genus']] = test['taxon_ids'].apply(lambda ids: pd.Series(map_taxon_ids(ids, taxonomy_dict)))
/var/folders/pv/r44bwgrn3sz8b3s7crkjg8800000gn/T/ipykernel_3549/1867767300.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test[['phylum', 'class', 'order', 'family', 'genus']] = test['taxon_ids'].apply(lambda ids: pd.Series(map_taxon_ids(ids, taxonomy_dict)))
/var/folders/pv/r44bwgrn3sz8b3s7crkjg8800000gn/T/ipykernel_3549/1867767300.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test[['phylum', 'class', 'order', 'family', 'genus']] = test['taxon_ids'].apply(lambda ids: pd.Series(map_taxon_ids(ids, taxonomy_dict)))
/var/folders/pv/r44bwgrn3sz8b3s7crkjg8800000gn/T/ipykernel_3549/1867767300.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test[['phylum', 'class', 'order', 'family', 'genus']] = test['taxon_ids'].apply(lambda ids: pd.Series(map_taxon_ids(ids, taxonomy_dict)))

,photo_url,taxon_name,ancestry,taxon_id,rank,photo_id,extension,taxon_ids,phylum,class,order,family,genus
0,http://inaturalist-open-data.s3.amazonaws.com/...,Steatoda grossa,48460/1/47120/245097/47119/47118/120474/342614...,61997,species,22295,JPG,"[48460, 1, 47120, 245097, 47119, 47118, 120474...",Arthropoda,Arachnida,Araneae,Theridiidae,Steatoda
1,http://inaturalist-open-data.s3.amazonaws.com/...,Steatoda grossa,48460/1/47120/245097/47119/47118/120474/342614...,61997,species,22296,jpg,"[48460, 1, 47120, 245097, 47119, 47118, 120474...",Arthropoda,Arachnida,Araneae,Theridiidae,Steatoda
2,http://inaturalist-open-data.s3.amazonaws.com/...,Uroctonus mordax,48460/1/47120/245097/47119/48894/1323567/13235...,52576,species,22617,jpg,"[48460, 1, 47120, 245097, 47119, 48894, 132356...",Arthropoda,Arachnida,Scorpiones,Vaejovidae,Uroctonus
3,http://inaturalist-open-data.s3.amazonaws.com/...,Alopecosa kochi,48460/1/47120/245097/47119/47118/120474/342614...,143470,species,22618,jpg,"[48460, 1, 47120, 245097, 47119, 47118, 120474...",Arthropoda,Arachnida,Araneae,Lycosidae,Alopecosa
4,http://inaturalist-open-data.s3.amazonaws.com/...,Uroctonus mordax,48460/1/47120/245097/47119/48894/1323567/13235...,52576,species,22704,jpg,"[48460, 1, 47120, 245097, 47119, 48894, 132356...",Arthropoda,Arachnida,Scorpiones,Vaejovidae,Uroctonus
...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,http://inaturalist-open-data.s3.amazonaws.com/...,Natta horizontalis,48460/1/47120/245097/47119/47118/120474/342614...,486217,species,14788672,jpeg,"[48460, 1, 47120, 245097, 47119, 47118, 120474...",Arthropoda,Arachnida,Araneae,Salticidae,Natta
99996,http://inaturalist-open-data.s3.amazonaws.com/...,Natta horizontalis,48460/1/47120/245097/47119/47118/120474/342614...,486217,species,14788674,jpeg,"[48460, 1, 47120, 245097, 47119, 47118, 120474...",Arthropoda,Arachnida,Araneae,Salticidae,Natta
99997,http://inaturalist-open-data.s3.amazonaws.com/...,Natta horizontalis,48460/1/47120/245097/47119/47118/120474/342614...,486217,species,14788680,jpeg,"[48460, 1, 47120, 245097, 47119, 47118, 120474...",Arthropoda,Arachnida,Araneae,Salticidae,Natta
99998,http://inaturalist-open-data.s3.amazonaws.com/...,Natta horizontalis,48460/1/47120/245097/47119/47118/120474/342614...,486217,species,14788688,jpeg,"[48460, 1, 47120, 245097, 47119, 47118, 120474...",Arthropoda,Arachnida,Araneae,Salticidae,Natta
99999,http://inaturalist-open-data.s3.amazonaws.com/...,Natta horizontalis,48460/1/47120/245097/47119/47118/120474/342614...,486217,species,14788690,jpeg,"[48460, 1, 47120, 245097, 47119, 47118, 120474...",Arthropoda,Arachnida,Araneae,Salticidae,Natta

In [34]:
import dask.dataframe as dd

In [47]:

def get_taxonomic_ranks(ancestry, ranks=['phylum', 'class', 'order', 'family', 'genus']):
    ranks_dict = {rank: None for rank in ranks}
    for taxon_id in ancestry.split('/'):
        taxon_id = int(taxon_id)
        if taxon_id in taxonomy_dict:
            taxon_info = taxonomy_dict[taxon_id]
            rank = taxon_info['rank']
            name = taxon_info['name']
            if rank in ranks_dict:
                ranks_dict[rank] = name
    return ranks_dict

taxonomic_data = test['ancestry'].apply(get_taxonomic_ranks)
df_taxonomic = pd.DataFrame(list(taxonomic_data))
df_taxonomic['photo_id'] = test['photo_id']
# Display the resulting dataframe
print(df_taxonomic)

/var/folders/pv/r44bwgrn3sz8b3s7crkjg8800000gn/T/ipykernel_3549/3727829785.py:15: FutureWarning: reindexing with a non-unique Index is deprecated and will raise in a future version.
  df_taxonomic['photo_id'] = test['photo_id']

ValueError: cannot reindex on an axis with duplicate labels

In [52]:
df_taxonomic['species'] = test.reset_index(drop=True)['taxon_name']
df_taxonomic['photo_id'] = test.reset_index(drop=True)['photo_id']
df_taxonomic

,phylum,class,order,family,genus,photo_id,species
0,Arthropoda,Arachnida,Araneae,Theridiidae,Steatoda,22295,Steatoda grossa
1,Arthropoda,Arachnida,Araneae,Theridiidae,Steatoda,22296,Steatoda grossa
2,Arthropoda,Arachnida,Scorpiones,Vaejovidae,Uroctonus,22617,Uroctonus mordax
3,Arthropoda,Arachnida,Araneae,Lycosidae,Alopecosa,22618,Alopecosa kochi
4,Arthropoda,Arachnida,Scorpiones,Vaejovidae,Uroctonus,22704,Uroctonus mordax
...,...,...,...,...,...,...,...
9999995,Arthropoda,Insecta,Diptera,Asilidae,Eudioctria,85890013,Eudioctria sackeni
9999996,Arthropoda,Insecta,Diptera,Asilidae,Eudioctria,85890064,Eudioctria sackeni
9999997,Arthropoda,Insecta,Odonata,Libellulidae,Libellula,85890057,Libellula forensis
9999998,Arthropoda,Insecta,Lepidoptera,Nymphalidae,Danaus,85890086,Danaus plexippus
9999999,Arthropoda,Insecta,Hymenoptera,Scoliidae,Dielis,85890066,Dielis tolteca

In [54]:
data = data.reset_index(drop=True)
data

,photo_url,taxon_name,ancestry,taxon_id,rank,photo_id,extension
0,http://inaturalist-open-data.s3.amazonaws.com/...,Steatoda grossa,48460/1/47120/245097/47119/47118/120474/342614...,61997,species,22295,JPG
1,http://inaturalist-open-data.s3.amazonaws.com/...,Steatoda grossa,48460/1/47120/245097/47119/47118/120474/342614...,61997,species,22296,jpg
2,http://inaturalist-open-data.s3.amazonaws.com/...,Uroctonus mordax,48460/1/47120/245097/47119/48894/1323567/13235...,52576,species,22617,jpg
3,http://inaturalist-open-data.s3.amazonaws.com/...,Alopecosa kochi,48460/1/47120/245097/47119/47118/120474/342614...,143470,species,22618,jpg
4,http://inaturalist-open-data.s3.amazonaws.com/...,Uroctonus mordax,48460/1/47120/245097/47119/48894/1323567/13235...,52576,species,22704,jpg
...,...,...,...,...,...,...,...
134596305,http://inaturalist-open-data.s3.amazonaws.com/...,Uta stansburiana,48460/1/2/355675/26036/26172/85552/36074/79756...,36094,species,386783428,jpg
134596306,http://inaturalist-open-data.s3.amazonaws.com/...,Mauremys sinensis,48460/1/2/355675/26036/39532/39886/797532/39967,39950,species,386783493,jpg
134596307,http://inaturalist-open-data.s3.amazonaws.com/...,Trimeresurus stejnegeri,48460/1/2/355675/26036/26172/85553/30667/79757...,30953,species,386783919,jpg
134596308,http://inaturalist-open-data.s3.amazonaws.com/...,Trimeresurus stejnegeri,48460/1/2/355675/26036/26172/85553/30667/79757...,30953,species,386783907,jpg
134596309,http://inaturalist-open-data.s3.amazonaws.com/...,Trimeresurus stejnegeri,48460/1/2/355675/26036/26172/85553/30667/79757...,30953,species,386783890,jpg

In [58]:
#taxaDf = pd.read_csv("taxa.csv", delimiter="\t")
#taxonomy_dict = taxaDf.set_index('taxon_id').T.to_dict()


def get_taxonomic_ranks(ancestry, ranks=['kingdom', 'phylum', 'class', 'order', 'family', 'genus']):
    ranks_dict = {rank: None for rank in ranks}
    for taxon_id in ancestry.split('/'):
        taxon_id = int(taxon_id)
        if taxon_id in taxonomy_dict:
            taxon_info = taxonomy_dict[taxon_id]
            rank = taxon_info['rank']
            name = taxon_info['name']
            if rank in ranks_dict:
                ranks_dict[rank] = name
    return ranks_dict

taxonomic_data = data['ancestry'].apply(get_taxonomic_ranks)
df_taxonomic = pd.DataFrame(list(taxonomic_data))
df_taxonomic['species'] = data['taxon_name']
df_taxonomic['photo_id'] = data['photo_id']

# Display the resulting dataframe
print(df_taxonomic)
df_taxonomic.to_parquet('parquetFiles/ArboretumMetadata.parquet')

            kingdom      phylum      class       order           family  \
0          Animalia  Arthropoda  Arachnida     Araneae      Theridiidae
1          Animalia  Arthropoda  Arachnida     Araneae      Theridiidae
2          Animalia  Arthropoda  Arachnida  Scorpiones       Vaejovidae
3          Animalia  Arthropoda  Arachnida     Araneae        Lycosidae
4          Animalia  Arthropoda  Arachnida  Scorpiones       Vaejovidae
...             ...         ...        ...         ...              ...
134596305  Animalia    Chordata   Reptilia    Squamata  Phrynosomatidae
134596306  Animalia    Chordata   Reptilia  Testudines      Geoemydidae
134596307  Animalia    Chordata   Reptilia    Squamata        Viperidae
134596308  Animalia    Chordata   Reptilia    Squamata        Viperidae
134596309  Animalia    Chordata   Reptilia    Squamata        Viperidae

                  genus                  species   photo_id
0              Steatoda          Steatoda grossa      22295
1              Steatoda          Steatoda grossa      22296
2             Uroctonus         Uroctonus mordax      22617
3             Alopecosa          Alopecosa kochi      22618
4             Uroctonus         Uroctonus mordax      22704
...                 ...                      ...        ...
134596305           Uta         Uta stansburiana  386783428
134596306      Mauremys        Mauremys sinensis  386783493
134596307  Trimeresurus  Trimeresurus stejnegeri  386783919
134596308  Trimeresurus  Trimeresurus stejnegeri  386783907
134596309  Trimeresurus  Trimeresurus stejnegeri  386783890

[134596310 rows x 8 columns]

In [56]:
df_taxonomic['species'] = data['taxon_name']
df_taxonomic['photo_id'] = data['photo_id']

# Display the resulting dataframe
print(df_taxonomic)

               phylum      class       order           family         genus  \
0          Arthropoda  Arachnida     Araneae      Theridiidae      Steatoda
1          Arthropoda  Arachnida     Araneae      Theridiidae      Steatoda
2          Arthropoda  Arachnida  Scorpiones       Vaejovidae     Uroctonus
3          Arthropoda  Arachnida     Araneae        Lycosidae     Alopecosa
4          Arthropoda  Arachnida  Scorpiones       Vaejovidae     Uroctonus
...               ...        ...         ...              ...           ...
134596305    Chordata   Reptilia    Squamata  Phrynosomatidae           Uta
134596306    Chordata   Reptilia  Testudines      Geoemydidae      Mauremys
134596307    Chordata   Reptilia    Squamata        Viperidae  Trimeresurus
134596308    Chordata   Reptilia    Squamata        Viperidae  Trimeresurus
134596309    Chordata   Reptilia    Squamata        Viperidae  Trimeresurus

                           species   photo_id
0                  Steatoda grossa      22295
1                  Steatoda grossa      22296
2                 Uroctonus mordax      22617
3                  Alopecosa kochi      22618
4                 Uroctonus mordax      22704
...                            ...        ...
134596305         Uta stansburiana  386783428
134596306        Mauremys sinensis  386783493
134596307  Trimeresurus stejnegeri  386783919
134596308  Trimeresurus stejnegeri  386783907
134596309  Trimeresurus stejnegeri  386783890

[134596310 rows x 7 columns]

In [57]:
df_taxonomic.to_parquet('parquetFiles/ArboretumMetadata.parquet')

In [ ]:
import plotly.express as px

import pandas as pd
import plotly.express as px
import plotly.io as pio
from plotly.subplots import make_subplots
import plotly.graph_objects as go

# Load the data
#file_path = 'parquetFiles/ArboretumMeta.parquet'  # Update this with your actual file path

# Define the groups and their respective levels
groups = {
    'Aves': 'class',
    'Arachnida': 'class',
    'Insecta': 'class',
    'Plantae': 'kingdom',
    'Fungi': 'kingdom',
    'Mollusca': 'phylum',
    'Reptilia': 'class'
}

# Define the size in inches and DPI
width_inch = 6
height_inch = 8
dpi = 140

width_px = width_inch * dpi
height_px = height_inch * dpi
data = pd.read_csv(file_path)

In [1]:
df_taxonomic

NameError: name 'df_taxonomic' is not defined

In [60]:

# Calculate the size in pixels

# Filter and aggregate the data for each group
#df = data.groupby(['kingdom', 'phylum', 'class', 'order', 'family'])['count'].sum().reset_index()
df = df_taxonomic.groupby(['kingdom', 'phylum', 'class', 'order', 'family'])['species'].sum().reset_index()
fig = px.treemap(df, path=['kingdom', 'phylum', 'class', 'order', 'family'], values='count',
                 color='phylum', color_discrete_map={'(?)':'white', 'Aves':'gold'})
fig.update_traces(root_color="white")

fig.update_layout(
    uniformtext=dict(minsize=40),
    margin = dict(t=5, l=5, r=5, b=5)
)
fig.show()

# Save the figure as a high-resolution PDF
pio.write_image(fig, 'taxonomy_distributions_cat_n4_large.pdf', format='pdf', width=width_px, height=height_px, scale=1)

# Show the plot
fig.show()