In [1]:
import pandas as pd

In [4]:
data = {
    'taxon_name': ['Pholcus phalangioides', 'Argiope keyserlingi', 'Argiope argentata', 'Sparassidae', 'Theraphosidae', 'Missulena Occatoria', 'Lampona', 'Latrodectus hasselti', 'Atrax robustus'],
    'taxon_id': [67328, 202557, 67706, 47867, 47424, 464824, 333918, 146765, 205276],
    'taxon_rank': ['species', 'species', 'species', 'family', 'family', 'species', 'genus', 'species', 'species'],
}

df = pd.DataFrame(data)
df

              taxon_name  taxon_id taxon_rank
0  Pholcus phalangioides     67328    species
1    Argiope keyserlingi    202557    species
2      Argiope argentata     67706    species
3            Sparassidae     47867     family
4          Theraphosidae     47424     family
5    Missulena Occatoria    464824    species
6                Lampona    333918      genus
7   Latrodectus hasselti    146765    species
8         Atrax robustus    205276    species

In [30]:
import sqlite3
# Define the path to the database file
db_path = "../data/db/inat_open_data.sq3db"

# Create the URI connection string with read-only mode
uri = f"file:{db_path}?mode=ro"

# Attempt to connect to the database in read-only mode
try:
    conn = sqlite3.connect(uri, uri=True)
    print("Database connected successfully.")
except sqlite3.OperationalError as e:
    print(f"Error: {e}")
    print("The database does not exist or cannot be opened in read-only mode.")

# data = {
#     'taxon_name': ['Pholcus phalangioides', 'Argiope keyserlingi', 'Argiope argentata', 'Delena cancerides', 'Selenocosmia crassipes', 'Missulena Occatoria', 'Lampona cylindrata', 'Latrodectus hasselti', 'Atrax robustus'],
#     'taxon_id': [67328, 202557, 67706, 388489, 779693, 464824, 391331, 146765, 205276],
#     'taxon_rank': ['species', 'species', 'species', 'species', 'family', 'species', 'genus', 'species', 'species'],
# }

# excel_df = pd.DataFrame(data)
# excel_df = excel_df['taxon_id']


# taxon_list = ""
# for species in excel_df:
#     taxon_list = taxon_list + """
# OR (D.taxon_id = '"""+str(species)+"""' AND C.quality_grade = 'research' AND D.active = 1) """
# taxon_list

sq_query = """
SELECT * 
FROM taxa 
WHERE taxon_id = '67328' OR taxon_id = '202557' OR taxon_id = '67706' OR taxon_id = '388489' OR taxon_id = '779693' OR taxon_id = '464824' OR taxon_id = '391331' OR taxon_id = '146765' OR taxon_id = '205276'
"""

df = pd.read_sql(
    sq_query,
    conn
)
df

Database connected successfully.

,taxon_id,ancestry,rank_level,rank,name,active
0,67328,48460/1/47120/245097/47119/47118/120474/367158...,10.0,species,Pholcus phalangioides,1
1,67706,48460/1/47120/245097/47119/47118/120474/342614...,10.0,species,Argiope argentata,1
2,146765,48460/1/47120/245097/47119/47118/120474/342614...,10.0,species,Latrodectus hasselti,1
3,202557,48460/1/47120/245097/47119/47118/120474/342614...,10.0,species,Argiope keyserlingi,1
4,205276,48460/1/47120/245097/47119/47118/84719/1467321...,10.0,species,Atrax robustus,1
5,388489,48460/1/47120/245097/47119/47118/120474/342614...,10.0,species,Delena cancerides,1
6,391331,48460/1/47120/245097/47119/47118/120474/342614...,10.0,species,Lampona cylindrata,1
7,464824,48460/1/47120/245097/47119/47118/84719/1467321...,10.0,species,Missulena occatoria,1
8,779693,48460/1/47120/245097/47119/47118/84719/1467321...,10.0,species,Selenocosmia crassipes,1

In [31]:
db_path = "../data/db/inat_open_data.sq3db"

# Create the URI connection string with read-only mode
uri = f"file:{db_path}?mode=ro"

# Attempt to connect to the database in read-only mode
try:
    conn = sqlite3.connect(uri, uri=True)
    print("Database connected successfully.")
except sqlite3.OperationalError as e:
    print(f"Error: {e}")
    print("The database does not exist or cannot be opened in read-only mode.")

# Read the Excel file into a DataFrame

# excel_df = pd.read_excel("../../data/json/6_extra_classes_fordownload.xlsx", sheet_name="Sheet1", header=1)
# excel_df = excel_df["ID in INaturalist"]

data = {
    'taxon_name': ['Pholcus phalangioides', 'Argiope keyserlingi', 'Argiope argentata', 'Delena cancerides', 'Selenocosmia crassipes', 'Missulena Occatoria', 'Lampona cylindrata', 'Latrodectus hasselti', 'Atrax robustus'],
    'taxon_id': [67328, 202557, 67706, 388489, 779693, 464824, 391331, 146765, 205276],
    'taxon_rank': ['species', 'species', 'species', 'species', 'family', 'species', 'genus', 'species', 'species'],
}

excel_df = pd.DataFrame(data)
excel_df = excel_df['taxon_id']

taxon_list = ""
for species in excel_df:
    taxon_list = taxon_list + """
OR (D.taxon_id = '"""+str(species)+"""' AND C.quality_grade = 'research' AND D.active = 1) """
taxon_list

sql_query = """
WITH urls AS (SELECT 'http://inaturalist-open-data.s3.amazonaws.com/photos/' AS photo) 
SELECT B.*, U.photo || A.photo_id || '/' || 'medium.' || A.extension AS photo_url, D.name AS taxon_name, D.ancestry, D.taxon_id, D.rank, A.photo_id, A.photo_uuid, A.extension 
FROM urls U 
CROSS JOIN photos A 
JOIN observers B 
ON A.observer_id = B.observer_id 
JOIN observations C 
ON A.observation_uuid = C.observation_uuid 
LEFT JOIN taxa D 
ON C.taxon_id = D.taxon_id 
WHERE (D.taxon_id = 'Placeholder') """ + taxon_list

# Execute the SQL query
speciesDf = pd.read_sql_query(
    sql_query,
    conn
)


speciesDf.to_csv("../data/csv/ausSpiders.csv", index=False)
speciesDf

Database connected successfully.

,observer_id,login,name,photo_url,taxon_name,ancestry,taxon_id,rank,photo_id,photo_uuid,extension
0,505,dloarie,Don Loarie,http://inaturalist-open-data.s3.amazonaws.com/...,Pholcus phalangioides,48460/1/47120/245097/47119/47118/120474/367158...,67328,species,23047,1814af90-6f4c-4238-98cb-36f3daa15216,jpg
1,505,dloarie,Don Loarie,http://inaturalist-open-data.s3.amazonaws.com/...,Pholcus phalangioides,48460/1/47120/245097/47119/47118/120474/367158...,67328,species,23048,f9dac87c-5fc9-444e-b67b-6ba20767d056,jpg
2,169,flapack,None,http://inaturalist-open-data.s3.amazonaws.com/...,Argiope argentata,48460/1/47120/245097/47119/47118/120474/342614...,67706,species,25153,8038f1a8-fc8a-42bc-beb0-8b820758d943,jpg
3,169,flapack,None,http://inaturalist-open-data.s3.amazonaws.com/...,Argiope argentata,48460/1/47120/245097/47119/47118/120474/342614...,67706,species,25154,c8a3f219-cab0-4ea2-86e8-577100b85484,jpg
4,1867,leopimentaz,Léo Pimenta,http://inaturalist-open-data.s3.amazonaws.com/...,Argiope argentata,48460/1/47120/245097/47119/47118/120474/342614...,67706,species,38219,44b72cdd-b818-41e7-b3a5-6cb0e4a46876,jpg
...,...,...,...,...,...,...,...,...,...,...,...
61435,6290629,zova,None,http://inaturalist-open-data.s3.amazonaws.com/...,Pholcus phalangioides,48460/1/47120/245097/47119/47118/120474/367158...,67328,species,371456233,276fc10a-75b7-4db7-8b04-ccfaf9cfe0d4,jpeg
61436,6290629,zova,None,http://inaturalist-open-data.s3.amazonaws.com/...,Pholcus phalangioides,48460/1/47120/245097/47119/47118/120474/367158...,67328,species,371456293,26a682b3-9e81-4640-9c58-8fdce68ebc8f,jpeg
61437,6290629,zova,None,http://inaturalist-open-data.s3.amazonaws.com/...,Pholcus phalangioides,48460/1/47120/245097/47119/47118/120474/367158...,67328,species,371456354,57685e5c-63c0-444f-9c5b-42b842f570d3,jpeg
61438,6290629,zova,None,http://inaturalist-open-data.s3.amazonaws.com/...,Pholcus phalangioides,48460/1/47120/245097/47119/47118/120474/367158...,67328,species,371456409,6bcf8e6a-52c7-45de-9cc5-f7dc0c5a8b18,jpeg
61439,2354716,katharine123,Katharine123,http://inaturalist-open-data.s3.amazonaws.com/...,Argiope keyserlingi,48460/1/47120/245097/47119/47118/120474/342614...,202557,species,371484908,b00c5a26-8542-4d40-8db3-cff6b943ff7b,jpeg

In [ ]:
db_path = "../data/db/inat_open_data.sq3db"

# Create the URI connection string with read-only mode
uri = f"file:{db_path}?mode=ro"

# Attempt to connect to the database in read-only mode
try:
    conn = sqlite3.connect(uri, uri=True)
    print("Database connected successfully.")
except sqlite3.OperationalError as e:
    print(f"Error: {e}")
    print("The database does not exist or cannot be opened in read-only mode.")

# Read the Excel file into a DataFrame

# excel_df = pd.read_excel("../../data/json/6_extra_classes_fordownload.xlsx", sheet_name="Sheet1", header=1)
# excel_df = excel_df["ID in INaturalist"]

data = {
    'taxon_name': ['Pholcus phalangioides', 'Argiope keyserlingi', 'Argiope argentata', 'Delena cancerides', 'Selenocosmia crassipes', 'Missulena Occatoria', 'Lampona cylindrata', 'Latrodectus hasselti', 'Atrax robustus'],
    'taxon_id': [67328, 202557, 67706, 388489, 779693, 464824, 391331, 146765, 205276],
    'taxon_rank': ['species', 'species', 'species', 'species', 'family', 'species', 'genus', 'species', 'species'],
}

excel_df = pd.DataFrame(data)
excel_df = excel_df['taxon_id']


taxon_list = ""
for species in excel_df:
    taxon_list = taxon_list + """
OR (D.taxon_id = '"""+str(species)+"""' AND C.quality_grade = 'research' AND D.active = 1) """
taxon_list

# taxon_list = ""
# for species in excel_df:
#     taxon_list = taxon_list + """
# OR (D.ancestry LIKE '%"""+str(species)+"""%' AND C.quality_grade = 'research' AND D.active = 1 AND D.rank_level = '10.0') """
# taxon_list

# Define the SQL query
sql_query = """
WITH urls AS (SELECT 'http://inaturalist-open-data.s3.amazonaws.com/photos/' AS photo) 
SELECT B.*, U.photo || A.photo_id || '/' || 'medium.' || A.extension AS photo_url, D.name AS taxon_name, D.ancestry, D.taxon_id, D.rank, A.photo_id, A.photo_uuid, A.extension 
FROM urls U 
CROSS JOIN photos A 
JOIN observers B 
ON A.observer_id = B.observer_id 
JOIN observations C 
ON A.observation_uuid = C.observation_uuid 
LEFT JOIN taxa D 
ON C.taxon_id = D.taxon_id 
WHERE (D.taxon_id = 'Placeholder') """ + taxon_list

# Execute the SQL query
speciesDf = pd.read_sql_query(
    sql_query,
    conn
)


speciesDf

In [19]:
# Define the SQL query
sql_query = """
WITH urls AS (SELECT 'http://inaturalist-open-data.s3.amazonaws.com/photos/' AS photo) 
SELECT B.*, U.photo || A.photo_id || '/' || 'medium.' || A.extension AS photo_url, D.name AS taxon_name, D.ancestry, D.taxon_id, D.rank, A.photo_id, A.photo_uuid, A.extension 
FROM urls U 
CROSS JOIN photos A 
JOIN observers B 
ON A.observer_id = B.observer_id 
JOIN observations C 
ON A.observation_uuid = C.observation_uuid 
LEFT JOIN taxa D 
ON C.taxon_id = D.taxon_id 
WHERE (D.taxon_id = 'Placeholder') """ + taxon_list

# Execute the SQL query
urlDf = pd.read_sql_query(
    sql_query,
    conn
)

urlDf.to_csv("new_urls.csv", index=False)

urlDf

,observer_id,login,name,photo_url,taxon_name,ancestry,taxon_id,rank,photo_id,photo_uuid,extension
0,1000,muir,Matt Muir,http://inaturalist-open-data.s3.amazonaws.com/...,Avicularia rufa,48460/1/47120/245097/47119/47118/84719/1467321...,567360,species,47681,16d66884-1d90-44c1-a91e-7b73ff318b09,jpg
1,1000,muir,Matt Muir,http://inaturalist-open-data.s3.amazonaws.com/...,Avicularia rufa,48460/1/47120/245097/47119/47118/84719/1467321...,567360,species,47682,6653e4c6-53a0-49d5-85e8-b3ed2fde5fcc,jpg
2,710,johngcramer,John Cramer III,http://inaturalist-open-data.s3.amazonaws.com/...,Aphonopelma johnnycashi,48460/1/47120/245097/47119/47118/84719/1467321...,501065,species,48870,e0aef409-4cc1-4477-a259-1328f736c2d9,jpg
3,1,kueda,Ken-ichi Ueda,http://inaturalist-open-data.s3.amazonaws.com/...,Aphonopelma iodius,48460/1/47120/245097/47119/47118/84719/1467321...,180759,species,57035,43d19e6b-c06e-4136-90ed-8665d9aaf7b7,jpg
4,1,kueda,Ken-ichi Ueda,http://inaturalist-open-data.s3.amazonaws.com/...,Aphonopelma iodius,48460/1/47120/245097/47119/47118/84719/1467321...,180759,species,57036,f85fbbcc-1bc1-481d-ab0c-fe286ad78264,jpg
...,...,...,...,...,...,...,...,...,...,...,...
84801,1684158,brookewilder523,None,http://inaturalist-open-data.s3.amazonaws.com/...,Heteropoda venatoria,48460/1/47120/245097/47119/47118/120474/342614...,48765,species,371437006,a86ff4f6-e792-4193-b7f2-7063401c3e41,jpg
84802,1979727,terryleecrane,Terry Lee Crane,http://inaturalist-open-data.s3.amazonaws.com/...,Aphonopelma anax,48460/1/47120/245097/47119/47118/84719/1467321...,123097,species,371475529,af236c1f-6448-411c-bd15-e94763a69547,jpeg
84803,1979727,terryleecrane,Terry Lee Crane,http://inaturalist-open-data.s3.amazonaws.com/...,Aphonopelma anax,48460/1/47120/245097/47119/47118/84719/1467321...,123097,species,371456681,39454061-afd5-4b87-842b-65cb036ff0c1,jpeg
84804,2859524,gecko9,Terry,http://inaturalist-open-data.s3.amazonaws.com/...,Isopedella victorialis,48460/1/47120/245097/47119/47118/120474/342614...,484933,species,371491958,137601be-c604-413e-a97c-45027511bd31,jpeg
84805,2859524,gecko9,Terry,http://inaturalist-open-data.s3.amazonaws.com/...,Isopedella victorialis,48460/1/47120/245097/47119/47118/120474/342614...,484933,species,371491980,929b5693-ba01-41ab-815b-31a41a50a75a,jpeg

In [32]:
countDf = speciesDf.groupby('taxon_name').size().reset_index(name='count').sort_values(by='count', ascending=False)
topSpecies = countDf[0:20]
topSpecies

               taxon_name  count
0       Argiope argentata  30443
7   Pholcus phalangioides  17088
1     Argiope keyserlingi   6709
5    Latrodectus hasselti   3867
3       Delena cancerides   2040
4      Lampona cylindrata    532
6     Missulena occatoria    488
2          Atrax robustus    242
8  Selenocosmia crassipes     31

In [5]:
import pandas as pd

In [26]:
df = pd.read_excel("../data/Table S1.xlsx", sheet_name=1, header=5)

In [27]:
df['Unnamed: 23']

0                      Agelena limbata; Agelena tungchis
1                                    Allagelena opulenta
2                          Anahita fauna; Anahita maolan
3      Anelosimus chonganicus; Anelosimus crassipes; ...
4      Anyphaena pugil; Anyphaena taiwanensis; Anypha...
                             ...
115    Tylorida mengla; Tylorida striata; Tylorida ti...
116                                  Typopeltis crucifer
117    Uloborus formosanus; Uloborus penicillatoides;...
118    Xysticus chui; Xysticus croceus; Xysticus ephi...
119                                     Zosis geniculata
Name: Unnamed: 23, Length: 120, dtype: object

In [28]:
all_species = []
for i in range(0, len(df)):
    split = df['Unnamed: 23'][i].split("; ")
    #print(split)
    for species in split:
        all_species.append(species)

print(all_species)

['Agelena limbata', 'Agelena tungchis', 'Allagelena opulenta', 'Anahita fauna', 'Anahita maolan', 'Anelosimus chonganicus', 'Anelosimus crassipes', 'Anelosimus taiwanicus', 'Anyphaena pugil', 'Anyphaena taiwanensis', 'Anyphaena wuyi', 'Arachnura logio', 'Arachnura melanura', 'Arachnura spinosa', 'Araneus seminiger', 'Araneus viridiventris', 'Araneus ejusmodi', 'Araneus inustus', 'Araniella yaginumai', 'Arctosa indica', 'Arctosa labiata', 'Arctosa laminata', 'Arctosa truncata', 'Argiope aemula', 'Argiope aetheroides', 'Argiope amoena', 'Argiope chloreis', 'Argiope minuta', 'Argiope ocula', 'Argiope perforata', 'Argyrodes bonadea', 'Argyrodes fissifrons', 'Argyrodes flavescens', 'Argyrodes kumadai', 'Argyrodes lanyuensis', 'Argyrodes miniaceus', 'Ariamnes cylindrogaster', 'Asemonea tanikawai', 'Atypus formosensis', 'Atypus karschi', 'Bavia aericeps', 'Bijoaraneus mitificus', 'Bothriocyrtum tractabile', 'Carrhotus sannio', 'Carrhotus tristis', 'Carrhotus viduus', 'Carrhotus xanthogramma', 'Cheiracanthium antungense', 'Cheiracanthium eutittha', 'Cheiracanthium falcatum', 'Cheiracanthium filiapophysium', 'Cheiracanthium insulanum', 'Cheiracanthium lascivum', 'Cheiracanthium mordax', 'Cheiracanthium taiwanicum', 'Cheiracanthium torsivum', 'Chikunia nigra', 'Chrysilla lauta', 'Chrysso trimaculata', 'Chrysso foliata', 'Chrysso argyrodiformis', 'Chrysso octomaculata', 'Clubiona asrevida', 'Clubiona brevispina', 'Clubona corrugata', 'Clubiona deletrix', 'Clubiona expansa', 'Clubiona femorocalcarata', 'Clubiona insulana', 'Clubiona japonica', 'Clubiona japonicola', 'Clubiona jucunda', 'Clubiona kayashimai', 'Clubiona kurilensis', 'Clubiona kurosawai', 'Clubiona moralis', 'Clubiona tanikawai', 'Clubiona viridula', 'Clubiona yaginumai', 'Clubiona yangmingensis', 'Corinnomma severum', 'Cosmophasis lami', 'Crossopriza lyoni', 'Ctenus yaeyamansis', 'Cyclosa argentata', 'Cyclosa argenteoalba', 'Cyclosa confusa', 'Cyclosa conica', 'Cyclosa formosana', 'Cyclosa ginnaga', 'Cyclosa japonica', 'Cyclosa koi', 'Cyclosa laticauda', 'Cyclosa monticola', 'Cyclosa mulmeinensis', 'Cyclosa octotuberculata', 'Cyclosa omonaga', 'Cyclosa quinqueguttata', 'Cyclosa sedeculata', 'Cyclosa shinoharai', 'Cyclosa tricauda', 'Cyclosa valllata', 'Cyrtarachne akirai', 'Cyrtarachne bufo', 'Cyrtarachne inaequalis', 'Cyrtarachne nagasakiensis', 'Cyrtarachne schmidi', 'Cyrtarachne yunoharuensis', 'Cyrtophora bicauda', 'Cyrtophora cylindroides', 'Cyrtophora exanthematica', 'Cyrtophora ikomosanensis', 'Cyrtophora moluccensis', 'Cyrtophora unicolor', 'Diaea subdola', 'Dictis striatipes', 'Dictyna felis', 'Dictyna foliicola', 'Dolomedes raptor', 'Dolomedes mizhoanus', 'Dolomedes sulfureus', 'Ebrechtella forcipata', 'Ebrechtella pseudovatia', 'Ebrechtella tricuspidatus', 'Enoplognatha caricis', 'Epeus bicuspidatus', 'Epeus glorius', 'Epeus guangxi', 'Episinus affinis', 'Episinus makiharai', 'Episinus nubilus', 'Episinus punctisparsus', 'Episinus yoshidai', 'Epocilla calcarata', 'Eriovixia excelsa', 'Euagrus formosanus', 'Evarcha bulbosa', 'Evarcha fasciata', 'Evarcha flavocincta', 'Evarcha hirticeps', 'Gasteracantha cancriformis', 'Gasteracantha fornicata', 'Gasteracantha kuhli', 'Gasteracantha sauteri', 'Gea spinipes', 'Hamadruas hieroglyphica', 'Harmochirus brachiatus', 'Hasarius adansoni', 'Herennia multipuncta', 'H. asiatica', 'H. striata, H. taiwanensis', ' H. montana', 'Heteropoda venatoria', 'Heteropoda pingtungensis', 'Hippasa agelenoides', 'Hippasa holmerae', 'Hygropoda higenaga', 'Hypsosinga pygmaea', 'Hypsosinga sanguinea', 'Latrodectus elegans', 'Latrodectus geometricus', 'Latrodectus hasselti', 'Leucauge argentina', 'Leucauge blanda', 'Leucauge celebesiana', 'Leucauge crucinota', 'Leucauge decorata', 'Leucauge liui', 'Leucauge magnifica', 'Leucauge subblanda', 'Leucauge subgemmea', 'Leucauge taiwanica', 'Leucauge tessellata', 'Leucauge venusta', 'Leucauge wulingensis', 'Loxosceles rufescens', 'Lycosa boninensis', 'Lycosa coelestis', 'Lycosa formosana', 'Lycosa phipsoni', 'Marpissa pulla', 'Mendoza elongata', 'Menemerus bivittatus', 'Menemerus brachygnathus', 'Menemerus fulvus', 'Mimentus ryukyus', 'Monaeses aciculus', 'Lycosa formosana', 'Lycosa phipsoni', 'Neoscona scylloides', 'Neoscona punctigera', 'Neoscona melloteei', 'Nephila pilipes', '', 'Neriene albolimbata', '', 'Nesticodes rufipes', 'Nihonhimea japonica ', 'Nurscia albofasciata', 'Ocrisiona frenata', 'Olios scalptor', 'Ordgarius hobsoni', 'Oxyopes fujianicus', 'Oxyopes macilentus', 'Oxyopes sertatus', 'Oxyopes striagatus', 'Oxyopes sushilae', 'Oxytate striatipes ', 'Pancorius magnus', 'Pancorius taiwanensis', '', 'Parasteatoda angulithorax', 'Parasteatoda ferrumequina', 'Parasteatoda kentingensis', 'Parasteatoda kompirensis', 'Parasteatoda lanyuensis', 'Parasteatoda lunate', 'Parasteatoda quadrimaculata', 'Parasteatoda ryukyu', 'Parasteatoda taiwanica', 'Parasteatoda tepidariorum', 'Parasteatoda transipora', 'Parawixia dehaani', 'Pardosa jambaruensis', 'Peucetia formosensis', '', 'Philodromus subaureolus Bösenberg', 'Philoponella prominens', 'Philoponella nigromaculata ', 'Phintella debilis ', 'Phintelloides versicolor', 'Phlogiellus watasei ', 'Pholcus crypticolens', 'Pholcus fragillimus', 'Pholcus inermis', 'Pholcus phalangioides', 'Pholcus spilis', 'Phrynarachne ceylonica', 'Phrynarachne mammillata', 'Phycosoma nigromaculatum', 'Pisaura bicornis', 'Platnickina maculata', 'Platnickina mneon', 'Plebs astridae', 'Plebs plumiopedellus', 'Plebs yanbaruensis', 'Plexippus incognitus', 'Plexippus paykulli', 'Plexippus petersi', 'Poltys idea', 'Poltys illepidus', 'Poltys nigrinus', 'Portia fimbriata', ' Portia taiwanica', 'Ptocasius strupifer', 'Rhene atrata', 'Rhene rubrigera', 'Rhomphaea labiata', 'Rhomphaea labiatus', 'Rhomphaea sagana', 'Runcinia affinis', 'Runcinia insecta', 'Scytodes thoracica', 'Scytodes pallida', 'Siler cupreus', 'Smeringopus pallidus', 'Spermophora senoculata', 'Steatoda cingulata', 'Steatoda erigoniformis', 'Synema nangoku', 'Synema zonatum ', 'Telamonia festiva', 'Telamonia vlijmi', 'Tetragnatha bituberculata', 'Tetragnatha caudicula', 'Tetragnatha ceylonica', 'Tetragnatha chauliodus', 'Tetragnatha esakii', 'Tetragnatha gracilis', 'Tetragnatha hiroshii', 'Tetragnatha javana', 'Tetragnatha lauta', 'Tetragnatha mandibulata', 'Tetragnatha maxillosa', 'Tetragnatha nepaeformis', 'Tetragnatha nitens', 'Tetragnatha praedonia', 'Tetragnatha squamata', 'Thelacantha brevispina', 'Thelcticopis dahanensis', 'Thelticopis severa', 'Thelcticopis unciformis', 'Theridion elegantissimum', 'Theridion xianfengense', 'Thiania suboppressa', 'Thomisus guangxicus', 'Thomisus labefactus', 'Thomisus okinawensis', 'Thyene imperialis', 'Tmarus lanyu', 'Tmarus longqicus', 'Tmarus taiwanus', 'Toxeus latithoracicus', 'Toxeus magna', 'Trichonephila clavata', 'Trochosa aquatica', 'Trochosa ruricoloides', 'Trochosa wuchangensis', 'Tylorida mengla', 'Tylorida striata', 'Tylorida tianlin', 'Tylorida ventralis', 'Typopeltis crucifer', 'Uloborus formosanus', 'Uloborus penicillatoides', 'Uloborus walckenaerius', 'Xysticus chui', 'Xysticus croceus', 'Xysticus ephippiatus', 'Xysticus kurilensis', 'Zosis geniculata']

In [29]:
# Use pandas' `str.split()` method to split the values in the column and `explode()` to flatten the list
all_species = df['Unnamed: 23'].str.split("; ").explode().tolist()

print(len(all_species))

321

In [31]:
import sqlite3
# Define the path to the database file
#db_path = "../data/db/inat_open_data.sq3db"
db_path = "../../../LDAWT/LDAWT-iNaturalist/data/inat_open_data.sq3db"
# Create the URI connection string with read-only mode
uri = f"file:{db_path}?mode=ro"

# Attempt to connect to the database in read-only mode
try:
    conn = sqlite3.connect(uri, uri=True)
    print("Database connected successfully.")
except sqlite3.OperationalError as e:
    print(f"Error: {e}")
    print("The database does not exist or cannot be opened in read-only mode.")

taxon_id_string = ""
for species in all_species:
    taxon_id_string = taxon_id_string + """
OR (name = '"""+species+"""') """

sq_query = """
SELECT * 
FROM taxa 
WHERE name = 'Placeholder' """ + taxon_id_string

taxa_df = pd.read_sql(
    sq_query,
    conn
)
taxa_df

Database connected successfully.

,taxon_id,ancestry,rank_level,rank,name,active
0,499227,48460/1/47120/245097/47119/47118/120474/342614...,10.0,species,Agelena limbata,1
1,741276,48460/1/47120/245097/47119/47118/120474/342614...,10.0,species,Agelena tungchis,1
2,360521,48460/1/47120/245097/47119/47118/120474/342614...,10.0,species,Allagelena opulenta,1
3,360547,48460/1/47120/245097/47119/47118/120474/342614...,10.0,species,Anahita fauna,1
4,741286,48460/1/47120/245097/47119/47118/120474/342614...,10.0,species,Anahita maolan,1
...,...,...,...,...,...,...
289,741451,48460/1/47120/245097/47119/47118/120474/342614...,10.0,species,Xysticus chui,1
290,357994,48460/1/47120/245097/47119/47118/120474/342614...,10.0,species,Xysticus croceus,1
291,360594,48460/1/47120/245097/47119/47118/120474/342614...,10.0,species,Xysticus ephippiatus,1
292,360590,48460/1/47120/245097/47119/47118/120474/342614...,10.0,species,Xysticus kurilensis,1
293,172199,48460/1/47120/245097/47119/47118/120474/342614...,10.0,species,Zosis geniculata,1

In [33]:
db_path = "../../../LDAWT/LDAWT-iNaturalist/data/inat_open_data.sq3db"

# Create the URI connection string with read-only mode
uri = f"file:{db_path}?mode=ro"

# Attempt to connect to the database in read-only mode
try:
    conn = sqlite3.connect(uri, uri=True)
    print("Database connected successfully.")
except sqlite3.OperationalError as e:
    print(f"Error: {e}")
    print("The database does not exist or cannot be opened in read-only mode.")

taxon_list = ""
for species in taxa_df['taxon_id']:
    taxon_list = taxon_list + """
OR (D.taxon_id = '"""+str(species)+"""' AND C.quality_grade = 'research' AND D.active = 1) """
print(taxon_list)

sql_query = """
WITH urls AS (SELECT 'http://inaturalist-open-data.s3.amazonaws.com/photos/' AS photo) 
SELECT B.*, U.photo || A.photo_id || '/' || 'medium.' || A.extension AS photo_url, D.name AS taxon_name, D.ancestry, D.taxon_id, D.rank, A.photo_id, A.photo_uuid, A.extension 
FROM urls U 
CROSS JOIN photos A 
JOIN observers B 
ON A.observer_id = B.observer_id 
JOIN observations C 
ON A.observation_uuid = C.observation_uuid 
LEFT JOIN taxa D 
ON C.taxon_id = D.taxon_id 
WHERE (D.taxon_id = 'Placeholder') """ + taxon_list

# Execute the SQL query
speciesDf = pd.read_sql_query(
    sql_query,
    conn
)


speciesDf.to_csv("../data/csv/taiwanSpiders.csv", index=False)
speciesDf

Database connected successfully.

OR (D.taxon_id = '499227' AND C.quality_grade = 'research' AND D.active = 1)
OR (D.taxon_id = '741276' AND C.quality_grade = 'research' AND D.active = 1)
OR (D.taxon_id = '360521' AND C.quality_grade = 'research' AND D.active = 1)
OR (D.taxon_id = '360547' AND C.quality_grade = 'research' AND D.active = 1)
OR (D.taxon_id = '741286' AND C.quality_grade = 'research' AND D.active = 1)
OR (D.taxon_id = '740823' AND C.quality_grade = 'research' AND D.active = 1)
OR (D.taxon_id = '360386' AND C.quality_grade = 'research' AND D.active = 1)
OR (D.taxon_id = '741285' AND C.quality_grade = 'research' AND D.active = 1)
OR (D.taxon_id = '360407' AND C.quality_grade = 'research' AND D.active = 1)
OR (D.taxon_id = '819881' AND C.quality_grade = 'research' AND D.active = 1)
OR (D.taxon_id = '741283' AND C.quality_grade = 'research' AND D.active = 1)
OR (D.taxon_id = '360472' AND C.quality_grade = 'research' AND D.active = 1)
OR (D.taxon_id = '715179' AND C.quality_grade = 'research' AND D.active = 1)
OR (D.taxon_id = '741279' AND C.quality_grade = 'research' AND D.active = 1)
OR (D.taxon_id = '360520' AND C.quality_grade = 'research' AND D.active = 1)
OR (D.taxon_id = '360643' AND C.quality_grade = 'research' AND D.active = 1)
OR (D.taxon_id = '360626' AND C.quality_grade = 'research' AND D.active = 1)
OR (D.taxon_id = '556260' AND C.quality_grade = 'research' AND D.active = 1)
OR (D.taxon_id = '360715' AND C.quality_grade = 'research' AND D.active = 1)
OR (D.taxon_id = '740950' AND C.quality_grade = 'research' AND D.active = 1)
OR (D.taxon_id = '741289' AND C.quality_grade = 'research' AND D.active = 1)
OR (D.taxon_id = '821517' AND C.quality_grade = 'research' AND D.active = 1)
OR (D.taxon_id = '741290' AND C.quality_grade = 'research' AND D.active = 1)
OR (D.taxon_id = '349000' AND C.quality_grade = 'research' AND D.active = 1)
OR (D.taxon_id = '349001' AND C.quality_grade = 'research' AND D.active = 1)
OR (D.taxon_id = '349003' AND C.quality_grade = 'research' AND D.active = 1)
OR (D.taxon_id = '349015' AND C.quality_grade = 'research' AND D.active = 1)
OR (D.taxon_id = '349095' AND C.quality_grade = 'research' AND D.active = 1)
OR (D.taxon_id = '349101' AND C.quality_grade = 'research' AND D.active = 1)
OR (D.taxon_id = '349106' AND C.quality_grade = 'research' AND D.active = 1)
OR (D.taxon_id = '360561' AND C.quality_grade = 'research' AND D.active = 1)
OR (D.taxon_id = '369038' AND C.quality_grade = 'research' AND D.active = 1)
OR (D.taxon_id = '360689' AND C.quality_grade = 'research' AND D.active = 1)
OR (D.taxon_id = '360595' AND C.quality_grade = 'research' AND D.active = 1)
OR (D.taxon_id = '741291' AND C.quality_grade = 'research' AND D.active = 1)
OR (D.taxon_id = '360373' AND C.quality_grade = 'research' AND D.active = 1)
OR (D.taxon_id = '354850' AND C.quality_grade = 'research' AND D.active = 1)
OR (D.taxon_id = '547266' AND C.quality_grade = 'research' AND D.active = 1)
OR (D.taxon_id = '741293' AND C.quality_grade = 'research' AND D.active = 1)
OR (D.taxon_id = '360542' AND C.quality_grade = 'research' AND D.active = 1)
OR (D.taxon_id = '205936' AND C.quality_grade = 'research' AND D.active = 1)
OR (D.taxon_id = '1341474' AND C.quality_grade = 'research' AND D.active = 1)
OR (D.taxon_id = '741296' AND C.quality_grade = 'research' AND D.active = 1)
OR (D.taxon_id = '334660' AND C.quality_grade = 'research' AND D.active = 1)
OR (D.taxon_id = '814362' AND C.quality_grade = 'research' AND D.active = 1)
OR (D.taxon_id = '154610' AND C.quality_grade = 'research' AND D.active = 1)
OR (D.taxon_id = '343255' AND C.quality_grade = 'research' AND D.active = 1)
OR (D.taxon_id = '805621' AND C.quality_grade = 'research' AND D.active = 1)
OR (D.taxon_id = '740820' AND C.quality_grade = 'research' AND D.active = 1)
OR (D.taxon_id = '741297' AND C.quality_grade = 'research' AND D.active = 1)
OR (D.taxon_id = '805651' AND C.quality_grade = 'research' AND D.active = 1)
OR (D.taxon_id = '706092' AND C.quality_grade = 'research' AND D.active = 1)
OR (D.taxon_id = '360764' AND C.quality_grade = 'research' AND D.active = 1)
OR (D.taxon_id = '741298' AND C.quality_grade = 'research' AND D.active = 1)
OR (D.taxon_id = '741299' AND C.quality_grade = 'research' AND D.active = 1)
OR (D.taxon_id = '805758' AND C.quality_grade = 'research' AND D.active = 1)
OR (D.taxon_id = '602676' AND C.quality_grade = 'research' AND D.active = 1)
OR (D.taxon_id = '498079' AND C.quality_grade = 'research' AND D.active = 1)
OR (D.taxon_id = '741307' AND C.quality_grade = 'research' AND D.active = 1)
OR (D.taxon_id = '360669' AND C.quality_grade = 'research' AND D.active = 1)
OR (D.taxon_id = '360443' AND C.quality_grade = 'research' AND D.active = 1)
OR (D.taxon_id = '741304' AND C.quality_grade = 'research' AND D.active = 1)
OR (D.taxon_id = '741308' AND C.quality_grade = 'research' AND D.active = 1)
OR (D.taxon_id = '819883' AND C.quality_grade = 'research' AND D.active = 1)
OR (D.taxon_id = '360701' AND C.quality_grade = 'research' AND D.active = 1)
OR (D.taxon_id = '819884' AND C.quality_grade = 'research' AND D.active = 1)
OR (D.taxon_id = '741311' AND C.quality_grade = 'research' AND D.active = 1)
OR (D.taxon_id = '741310' AND C.quality_grade = 'research' AND D.active = 1)
OR (D.taxon_id = '1540126' AND C.quality_grade = 'research' AND D.active = 1)
OR (D.taxon_id = '360631' AND C.quality_grade = 'research' AND D.active = 1)
OR (D.taxon_id = '360740' AND C.quality_grade = 'research' AND D.active = 1)
OR (D.taxon_id = '741313' AND C.quality_grade = 'research' AND D.active = 1)
OR (D.taxon_id = '741314' AND C.quality_grade = 'research' AND D.active = 1)
OR (D.taxon_id = '741315' AND C.quality_grade = 'research' AND D.active = 1)
OR (D.taxon_id = '741316' AND C.quality_grade = 'research' AND D.active = 1)
OR (D.taxon_id = '741318' AND C.quality_grade = 'research' AND D.active = 1)
OR (D.taxon_id = '741319' AND C.quality_grade = 'research' AND D.active = 1)
OR (D.taxon_id = '741320' AND C.quality_grade = 'research' AND D.active = 1)
OR (D.taxon_id = '741321' AND C.quality_grade = 'research' AND D.active = 1)
OR (D.taxon_id = '703902' AND C.quality_grade = 'research' AND D.active = 1)
OR (D.taxon_id = '634860' AND C.quality_grade = 'research' AND D.active = 1)
OR (D.taxon_id = '339927' AND C.quality_grade = 'research' AND D.active = 1)
OR (D.taxon_id = '602668' AND C.quality_grade = 'research' AND D.active = 1)
OR (D.taxon_id = '360501' AND C.quality_grade = 'research' AND D.active = 1)
OR (D.taxon_id = '360686' AND C.quality_grade = 'research' AND D.active = 1)
OR (D.taxon_id = '205888' AND C.quality_grade = 'research' AND D.active = 1)
OR (D.taxon_id = '741323' AND C.quality_grade = 'research' AND D.active = 1)
OR (D.taxon_id = '360502' AND C.quality_grade = 'research' AND D.active = 1)
OR (D.taxon_id = '360763' AND C.quality_grade = 'research' AND D.active = 1)
OR (D.taxon_id = '741324' AND C.quality_grade = 'research' AND D.active = 1)
OR (D.taxon_id = '360474' AND C.quality_grade = 'research' AND D.active = 1)
OR (D.taxon_id = '360752' AND C.quality_grade = 'research' AND D.active = 1)
OR (D.taxon_id = '556362' AND C.quality_grade = 'research' AND D.active = 1)
OR (D.taxon_id = '360531' AND C.quality_grade = 'research' AND D.active = 1)
OR (D.taxon_id = '360553' AND C.quality_grade = 'research' AND D.active = 1)
OR (D.taxon_id = '741325' AND C.quality_grade = 'research' AND D.active = 1)
OR (D.taxon_id = '360778' AND C.quality_grade = 'research' AND D.active = 1)
OR (D.taxon_id = '741326' AND C.quality_grade = 'research' AND D.active = 1)
OR (D.taxon_id = '764781' AND C.quality_grade = 'research' AND D.active = 1)
OR (D.taxon_id = '360611' AND C.quality_grade = 'research' AND D.active = 1)
OR (D.taxon_id = '360439' AND C.quality_grade = 'research' AND D.active = 1)
OR (D.taxon_id = '360562' AND C.quality_grade = 'research' AND D.active = 1)
OR (D.taxon_id = '737712' AND C.quality_grade = 'research' AND D.active = 1)
OR (D.taxon_id = '360374' AND C.quality_grade = 'research' AND D.active = 1)
OR (D.taxon_id = '819885' AND C.quality_grade = 'research' AND D.active = 1)
OR (D.taxon_id = '368093' AND C.quality_grade = 'research' AND D.active = 1)
OR (D.taxon_id = '360483' AND C.quality_grade = 'research' AND D.active = 1)
OR (D.taxon_id = '360583' AND C.quality_grade = 'research' AND D.active = 1)
OR (D.taxon_id = '120520' AND C.quality_grade = 'research' AND D.active = 1)
OR (D.taxon_id = '360642' AND C.quality_grade = 'research' AND D.active = 1)
OR (D.taxon_id = '360527' AND C.quality_grade = 'research' AND D.active = 1)
OR (D.taxon_id = '741329' AND C.quality_grade = 'research' AND D.active = 1)
OR (D.taxon_id = '360625' AND C.quality_grade = 'research' AND D.active = 1)
OR (D.taxon_id = '360661' AND C.quality_grade = 'research' AND D.active = 1)
OR (D.taxon_id = '360375' AND C.quality_grade = 'research' AND D.active = 1)
OR (D.taxon_id = '556367' AND C.quality_grade = 'research' AND D.active = 1)
OR (D.taxon_id = '360274' AND C.quality_grade = 'research' AND D.active = 1)
OR (D.taxon_id = '838068' AND C.quality_grade = 'research' AND D.active = 1)
OR (D.taxon_id = '603346' AND C.quality_grade = 'research' AND D.active = 1)
OR (D.taxon_id = '1064759' AND C.quality_grade = 'research' AND D.active = 1)
OR (D.taxon_id = '219191' AND C.quality_grade = 'research' AND D.active = 1)
OR (D.taxon_id = '764809' AND C.quality_grade = 'research' AND D.active = 1)
OR (D.taxon_id = '544576' AND C.quality_grade = 'research' AND D.active = 1)
OR (D.taxon_id = '838090' AND C.quality_grade = 'research' AND D.active = 1)
OR (D.taxon_id = '360651' AND C.quality_grade = 'research' AND D.active = 1)
OR (D.taxon_id = '741336' AND C.quality_grade = 'research' AND D.active = 1)
OR (D.taxon_id = '360720' AND C.quality_grade = 'research' AND D.active = 1)
OR (D.taxon_id = '741335' AND C.quality_grade = 'research' AND D.active = 1)
OR (D.taxon_id = '741337' AND C.quality_grade = 'research' AND D.active = 1)
OR (D.taxon_id = '417718' AND C.quality_grade = 'research' AND D.active = 1)
OR (D.taxon_id = '446667' AND C.quality_grade = 'research' AND D.active = 1)
OR (D.taxon_id = '741339' AND C.quality_grade = 'research' AND D.active = 1)
OR (D.taxon_id = '796394' AND C.quality_grade = 'research' AND D.active = 1)
OR (D.taxon_id = '360706' AND C.quality_grade = 'research' AND D.active = 1)
OR (D.taxon_id = '824123' AND C.quality_grade = 'research' AND D.active = 1)
OR (D.taxon_id = '49540' AND C.quality_grade = 'research' AND D.active = 1)
OR (D.taxon_id = '201614' AND C.quality_grade = 'research' AND D.active = 1)
OR (D.taxon_id = '847983' AND C.quality_grade = 'research' AND D.active = 1)
OR (D.taxon_id = '503706' AND C.quality_grade = 'research' AND D.active = 1)
OR (D.taxon_id = '714329' AND C.quality_grade = 'research' AND D.active = 1)
OR (D.taxon_id = '555822' AND C.quality_grade = 'research' AND D.active = 1)
OR (D.taxon_id = '358015' AND C.quality_grade = 'research' AND D.active = 1)
OR (D.taxon_id = '347886' AND C.quality_grade = 'research' AND D.active = 1)
OR (D.taxon_id = '147245' AND C.quality_grade = 'research' AND D.active = 1)
OR (D.taxon_id = '48765' AND C.quality_grade = 'research' AND D.active = 1)
OR (D.taxon_id = '570147' AND C.quality_grade = 'research' AND D.active = 1)
OR (D.taxon_id = '741353' AND C.quality_grade = 'research' AND D.active = 1)
OR (D.taxon_id = '506431' AND C.quality_grade = 'research' AND D.active = 1)
OR (D.taxon_id = '360654' AND C.quality_grade = 'research' AND D.active = 1)
OR (D.taxon_id = '153556' AND C.quality_grade = 'research' AND D.active = 1)
OR (D.taxon_id = '360565' AND C.quality_grade = 'research' AND D.active = 1)
OR (D.taxon_id = '814448' AND C.quality_grade = 'research' AND D.active = 1)
OR (D.taxon_id = '47383' AND C.quality_grade = 'research' AND D.active = 1)
OR (D.taxon_id = '146765' AND C.quality_grade = 'research' AND D.active = 1)
OR (D.taxon_id = '362468' AND C.quality_grade = 'research' AND D.active = 1)
OR (D.taxon_id = '360597' AND C.quality_grade = 'research' AND D.active = 1)
OR (D.taxon_id = '81539' AND C.quality_grade = 'research' AND D.active = 1)
OR (D.taxon_id = '821875' AND C.quality_grade = 'research' AND D.active = 1)
OR (D.taxon_id = '154523' AND C.quality_grade = 'research' AND D.active = 1)
OR (D.taxon_id = '741369' AND C.quality_grade = 'research' AND D.active = 1)
OR (D.taxon_id = '360435' AND C.quality_grade = 'research' AND D.active = 1)
OR (D.taxon_id = '359277' AND C.quality_grade = 'research' AND D.active = 1)
OR (D.taxon_id = '360497' AND C.quality_grade = 'research' AND D.active = 1)
OR (D.taxon_id = '717286' AND C.quality_grade = 'research' AND D.active = 1)
OR (D.taxon_id = '508569' AND C.quality_grade = 'research' AND D.active = 1)
OR (D.taxon_id = '53467' AND C.quality_grade = 'research' AND D.active = 1)
OR (D.taxon_id = '778499' AND C.quality_grade = 'research' AND D.active = 1)
OR (D.taxon_id = '732779' AND C.quality_grade = 'research' AND D.active = 1)
OR (D.taxon_id = '151792' AND C.quality_grade = 'research' AND D.active = 1)
OR (D.taxon_id = '741370' AND C.quality_grade = 'research' AND D.active = 1)
OR (D.taxon_id = '360640' AND C.quality_grade = 'research' AND D.active = 1)
OR (D.taxon_id = '741372' AND C.quality_grade = 'research' AND D.active = 1)
OR (D.taxon_id = '741373' AND C.quality_grade = 'research' AND D.active = 1)
OR (D.taxon_id = '360779' AND C.quality_grade = 'research' AND D.active = 1)
OR (D.taxon_id = '360742' AND C.quality_grade = 'research' AND D.active = 1)
OR (D.taxon_id = '68062' AND C.quality_grade = 'research' AND D.active = 1)
OR (D.taxon_id = '849743' AND C.quality_grade = 'research' AND D.active = 1)
OR (D.taxon_id = '360558' AND C.quality_grade = 'research' AND D.active = 1)
OR (D.taxon_id = '807857' AND C.quality_grade = 'research' AND D.active = 1)
OR (D.taxon_id = '359250' AND C.quality_grade = 'research' AND D.active = 1)
OR (D.taxon_id = '243814' AND C.quality_grade = 'research' AND D.active = 1)
OR (D.taxon_id = '332607' AND C.quality_grade = 'research' AND D.active = 1)
OR (D.taxon_id = '68390' AND C.quality_grade = 'research' AND D.active = 1)
OR (D.taxon_id = '360731' AND C.quality_grade = 'research' AND D.active = 1)
OR (D.taxon_id = '297992' AND C.quality_grade = 'research' AND D.active = 1)
OR (D.taxon_id = '360747' AND C.quality_grade = 'research' AND D.active = 1)
OR (D.taxon_id = '527851' AND C.quality_grade = 'research' AND D.active = 1)
OR (D.taxon_id = '741399' AND C.quality_grade = 'research' AND D.active = 1)
OR (D.taxon_id = '360702' AND C.quality_grade = 'research' AND D.active = 1)
OR (D.taxon_id = '748323' AND C.quality_grade = 'research' AND D.active = 1)
OR (D.taxon_id = '360552' AND C.quality_grade = 'research' AND D.active = 1)
OR (D.taxon_id = '319130' AND C.quality_grade = 'research' AND D.active = 1)
OR (D.taxon_id = '705124' AND C.quality_grade = 'research' AND D.active = 1)
OR (D.taxon_id = '741405' AND C.quality_grade = 'research' AND D.active = 1)
OR (D.taxon_id = '740951' AND C.quality_grade = 'research' AND D.active = 1)
OR (D.taxon_id = '741406' AND C.quality_grade = 'research' AND D.active = 1)
OR (D.taxon_id = '741408' AND C.quality_grade = 'research' AND D.active = 1)
OR (D.taxon_id = '741409' AND C.quality_grade = 'research' AND D.active = 1)
OR (D.taxon_id = '819899' AND C.quality_grade = 'research' AND D.active = 1)
OR (D.taxon_id = '741412' AND C.quality_grade = 'research' AND D.active = 1)
OR (D.taxon_id = '741411' AND C.quality_grade = 'research' AND D.active = 1)
OR (D.taxon_id = '741413' AND C.quality_grade = 'research' AND D.active = 1)
OR (D.taxon_id = '706095' AND C.quality_grade = 'research' AND D.active = 1)
OR (D.taxon_id = '819900' AND C.quality_grade = 'research' AND D.active = 1)
OR (D.taxon_id = '120583' AND C.quality_grade = 'research' AND D.active = 1)
OR (D.taxon_id = '838908' AND C.quality_grade = 'research' AND D.active = 1)
OR (D.taxon_id = '332654' AND C.quality_grade = 'research' AND D.active = 1)
OR (D.taxon_id = '717845' AND C.quality_grade = 'research' AND D.active = 1)
OR (D.taxon_id = '713953' AND C.quality_grade = 'research' AND D.active = 1)
OR (D.taxon_id = '740836' AND C.quality_grade = 'research' AND D.active = 1)
OR (D.taxon_id = '967406' AND C.quality_grade = 'research' AND D.active = 1)
OR (D.taxon_id = '360774' AND C.quality_grade = 'research' AND D.active = 1)
OR (D.taxon_id = '786856' AND C.quality_grade = 'research' AND D.active = 1)
OR (D.taxon_id = '1186453' AND C.quality_grade = 'research' AND D.active = 1)
OR (D.taxon_id = '67328' AND C.quality_grade = 'research' AND D.active = 1)
OR (D.taxon_id = '839120' AND C.quality_grade = 'research' AND D.active = 1)
OR (D.taxon_id = '360675' AND C.quality_grade = 'research' AND D.active = 1)
OR (D.taxon_id = '717570' AND C.quality_grade = 'research' AND D.active = 1)
OR (D.taxon_id = '741416' AND C.quality_grade = 'research' AND D.active = 1)
OR (D.taxon_id = '716355' AND C.quality_grade = 'research' AND D.active = 1)
OR (D.taxon_id = '740819' AND C.quality_grade = 'research' AND D.active = 1)
OR (D.taxon_id = '417240' AND C.quality_grade = 'research' AND D.active = 1)
OR (D.taxon_id = '819904' AND C.quality_grade = 'research' AND D.active = 1)
OR (D.taxon_id = '797817' AND C.quality_grade = 'research' AND D.active = 1)
OR (D.taxon_id = '822063' AND C.quality_grade = 'research' AND D.active = 1)
OR (D.taxon_id = '741419' AND C.quality_grade = 'research' AND D.active = 1)
OR (D.taxon_id = '125444' AND C.quality_grade = 'research' AND D.active = 1)
OR (D.taxon_id = '125443' AND C.quality_grade = 'research' AND D.active = 1)
OR (D.taxon_id = '360515' AND C.quality_grade = 'research' AND D.active = 1)
OR (D.taxon_id = '741420' AND C.quality_grade = 'research' AND D.active = 1)
OR (D.taxon_id = '322490' AND C.quality_grade = 'research' AND D.active = 1)
OR (D.taxon_id = '450532' AND C.quality_grade = 'research' AND D.active = 1)
OR (D.taxon_id = '360465' AND C.quality_grade = 'research' AND D.active = 1)
OR (D.taxon_id = '450533' AND C.quality_grade = 'research' AND D.active = 1)
OR (D.taxon_id = '360653' AND C.quality_grade = 'research' AND D.active = 1)
OR (D.taxon_id = '360755' AND C.quality_grade = 'research' AND D.active = 1)
OR (D.taxon_id = '360564' AND C.quality_grade = 'research' AND D.active = 1)
OR (D.taxon_id = '832328' AND C.quality_grade = 'research' AND D.active = 1)
OR (D.taxon_id = '57450' AND C.quality_grade = 'research' AND D.active = 1)
OR (D.taxon_id = '334060' AND C.quality_grade = 'research' AND D.active = 1)
OR (D.taxon_id = '358360' AND C.quality_grade = 'research' AND D.active = 1)
OR (D.taxon_id = '524798' AND C.quality_grade = 'research' AND D.active = 1)
OR (D.taxon_id = '153834' AND C.quality_grade = 'research' AND D.active = 1)
OR (D.taxon_id = '360646' AND C.quality_grade = 'research' AND D.active = 1)
OR (D.taxon_id = '264442' AND C.quality_grade = 'research' AND D.active = 1)
OR (D.taxon_id = '822111' AND C.quality_grade = 'research' AND D.active = 1)
OR (D.taxon_id = '359772' AND C.quality_grade = 'research' AND D.active = 1)
OR (D.taxon_id = '360576' AND C.quality_grade = 'research' AND D.active = 1)
OR (D.taxon_id = '368200' AND C.quality_grade = 'research' AND D.active = 1)
OR (D.taxon_id = '360603' AND C.quality_grade = 'research' AND D.active = 1)
OR (D.taxon_id = '546127' AND C.quality_grade = 'research' AND D.active = 1)
OR (D.taxon_id = '741439' AND C.quality_grade = 'research' AND D.active = 1)
OR (D.taxon_id = '741440' AND C.quality_grade = 'research' AND D.active = 1)
OR (D.taxon_id = '741441' AND C.quality_grade = 'research' AND D.active = 1)
OR (D.taxon_id = '741442' AND C.quality_grade = 'research' AND D.active = 1)
OR (D.taxon_id = '553923' AND C.quality_grade = 'research' AND D.active = 1)
OR (D.taxon_id = '740942' AND C.quality_grade = 'research' AND D.active = 1)
OR (D.taxon_id = '506563' AND C.quality_grade = 'research' AND D.active = 1)
OR (D.taxon_id = '360736' AND C.quality_grade = 'research' AND D.active = 1)

OSError: Cannot save file into a non-existent directory: '../data/csv'

In [35]:
speciesDf.to_csv("taiwanSpiders.csv", index=False)